# Python
__pycache__/
*.pyc
venv/
.venv/
backend-api/.venv/

# Environment variables (IMPORTANT)
.env
backend-api/.env

# OS
.DS_Store

# Uploads
uploads/

# ML Models
*.pt
*.h5
*.pth

# Flutter
.metadata
.dart_tool/
build/
.idea/
*.iml

# Android
android/local.properties

venv/
venv311/
__pycache__/
*.pyc
.env
node_modules/